---
const { index, title } = Astro.props;
---

<div class="flex mb-10 text-white items-center gap-4">
  <span class="uppercase">{index}</span>
  <div class="w-10 h-[1px] bg-white"></div>
  <span class="uppercase">{title}</span>
</div>
