---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export async function getStaticPaths() {
  const entries = await getCollection("work");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <section class="mb-20">
    <Breadcrumbs />
    <Image
      src={entry.data.image}
      alt={entry.data.title}
      class="rounded-xl max-w-screen-md w-full mx-auto my-10"
    />
    <h1 class="text-5xl text-center">{entry.data.title}</h1>
    <h2 class="text-xl text-center text-white/50">
      {entry.data.tags.join(", ")}
    </h2>
  </section>
  <Content />
  <div class="mb-20"></div>
</Layout>
