---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export async function getStaticPaths() {
  const entries = await getCollection("work");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <section class="mb-20">
    <Breadcrumbs />

    <h1>{entry.data.title}</h1>
  </section>
  <Content />
</Layout>
