---
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import WorkEntries from "../../components/WorkEntries.astro";
---

<Layout title="Work">
  <Breadcrumbs />
  <section class="text-center mt-12">
    <h1 class="text-5xl">
      Our <span class="font-serif italic text-yellow-300">Work</span>
    </h1>
    <p class="text-white/50 text-lg mt-4">
      Get a feel for how we can work together. See our previous and current
      projects below.
    </p>
  </section>
  <section class="mt-12">
    <WorkEntries />
  </section>
</Layout>
